<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3f41a9af15fa4f82bf0caf2759a0ffcc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3f41a9af15fa4f82bf0caf2759a0ffcc" ></div>
        
</body>
<script>    
    
            var map_3f41a9af15fa4f82bf0caf2759a0ffcc = L.map(
                "map_3f41a9af15fa4f82bf0caf2759a0ffcc",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7383c697ca2a4dedbaffb93907aead79 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
            var marker_9aa51bb845d14fc0b7dcb3c2263b6128 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_fb4416acf1e948b2a392c98958f53fca = L.popup({"maxWidth": "100%"});

        
            var html_7f0c60c9fd21407bb260d2473c26a0e2 = $(`<div id="html_7f0c60c9fd21407bb260d2473c26a0e2" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1099116946858131457/mTxxwCWa_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_fb4416acf1e948b2a392c98958f53fca.setContent(html_7f0c60c9fd21407bb260d2473c26a0e2);
        

        marker_9aa51bb845d14fc0b7dcb3c2263b6128.bindPopup(popup_fb4416acf1e948b2a392c98958f53fca)
        ;

        
    
    
            marker_9aa51bb845d14fc0b7dcb3c2263b6128.bindTooltip(
                `<div>
                     Tasha Keeney
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_be9c04520b5a440d849d71b3dc062747 = L.marker(
                [3.5000086, -73.0000086],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_76250a76dd504f289df2300a4d76f4ee = L.popup({"maxWidth": "100%"});

        
            var html_b0561bee30b74bde92200b53ccbe0dfc = $(`<div id="html_b0561bee30b74bde92200b53ccbe0dfc" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1045579977067024384/S0luKMwQ_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_76250a76dd504f289df2300a4d76f4ee.setContent(html_b0561bee30b74bde92200b53ccbe0dfc);
        

        marker_be9c04520b5a440d849d71b3dc062747.bindPopup(popup_76250a76dd504f289df2300a4d76f4ee)
        ;

        
    
    
            marker_be9c04520b5a440d849d71b3dc062747.bindTooltip(
                `<div>
                     Archillect
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58594882459f4802aabfb55a500ff5f0 = L.marker(
                [54.698056, -112.147222],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_0d8abdd1f5a042ee8f91568700e8e13c = L.popup({"maxWidth": "100%"});

        
            var html_59ade4bcc1ba480d8e9da7ea810e678d = $(`<div id="html_59ade4bcc1ba480d8e9da7ea810e678d" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/862074707150946304/-lVSDk2B_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_0d8abdd1f5a042ee8f91568700e8e13c.setContent(html_59ade4bcc1ba480d8e9da7ea810e678d);
        

        marker_58594882459f4802aabfb55a500ff5f0.bindPopup(popup_0d8abdd1f5a042ee8f91568700e8e13c)
        ;

        
    
    
            marker_58594882459f4802aabfb55a500ff5f0.bindTooltip(
                `<div>
                     Brett Winton
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6757c7b20e5a440fbb0f8979007136c0 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_1df152ac541347009e8da6f0969d7693 = L.popup({"maxWidth": "100%"});

        
            var html_7f8dfcd40b2642b7a4020015b7f8fcad = $(`<div id="html_7f8dfcd40b2642b7a4020015b7f8fcad" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/877887586387214338/N72b1Kak_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_1df152ac541347009e8da6f0969d7693.setContent(html_7f8dfcd40b2642b7a4020015b7f8fcad);
        

        marker_6757c7b20e5a440fbb0f8979007136c0.bindPopup(popup_1df152ac541347009e8da6f0969d7693)
        ;

        
    
    
            marker_6757c7b20e5a440fbb0f8979007136c0.bindTooltip(
                `<div>
                     Sam Korus
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b0bbb5442b5d4c99a4c55520c1c23d31 = L.marker(
                [35.6828387, 139.7594549],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_4825157432f14efca5de1c54a358f856 = L.popup({"maxWidth": "100%"});

        
            var html_7ce4266231c44cc1a2d890cfa812d58b = $(`<div id="html_7ce4266231c44cc1a2d890cfa812d58b" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1200032068857516034/W5K_9XsE_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_4825157432f14efca5de1c54a358f856.setContent(html_7ce4266231c44cc1a2d890cfa812d58b);
        

        marker_b0bbb5442b5d4c99a4c55520c1c23d31.bindPopup(popup_4825157432f14efca5de1c54a358f856)
        ;

        
    
    
            marker_b0bbb5442b5d4c99a4c55520c1c23d31.bindTooltip(
                `<div>
                     HIROMICHI MIZUNO
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e118d9980fe4c2882a974a25d6f870f = L.marker(
                [38.8948932, -77.0365529],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_8fadb715808d4c0fbe276ab39e6b9bd2 = L.popup({"maxWidth": "100%"});

        
            var html_f2f9f8b2e6734adfbcb85bb6b94c300f = $(`<div id="html_f2f9f8b2e6734adfbcb85bb6b94c300f" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1154488953917104130/qujJzZ6d_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_8fadb715808d4c0fbe276ab39e6b9bd2.setContent(html_f2f9f8b2e6734adfbcb85bb6b94c300f);
        

        marker_2e118d9980fe4c2882a974a25d6f870f.bindPopup(popup_8fadb715808d4c0fbe276ab39e6b9bd2)
        ;

        
    
    
            marker_2e118d9980fe4c2882a974a25d6f870f.bindTooltip(
                `<div>
                     Jim Bridenstine
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_86370841c8e044709101ade0dd775f99 = L.marker(
                [38.8339578, -104.8253485],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_1d01aebfd2cf4901884f90fa7fbd4cf5 = L.popup({"maxWidth": "100%"});

        
            var html_96769767222a4b7bb9f052fa35e3b37b = $(`<div id="html_96769767222a4b7bb9f052fa35e3b37b" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1167435429840179200/OV4pqE0h_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_1d01aebfd2cf4901884f90fa7fbd4cf5.setContent(html_96769767222a4b7bb9f052fa35e3b37b);
        

        marker_86370841c8e044709101ade0dd775f99.bindPopup(popup_1d01aebfd2cf4901884f90fa7fbd4cf5)
        ;

        
    
    
            marker_86370841c8e044709101ade0dd775f99.bindTooltip(
                `<div>
                     Gen. Jay Raymond
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa0ccfed761f4115942abfcaf093e769 = L.marker(
                [38.8222878, -104.70028027543265],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_63a46143c70147cd87c60ceb64850134 = L.popup({"maxWidth": "100%"});

        
            var html_4bd008879d1549028596a1c65099045c = $(`<div id="html_4bd008879d1549028596a1c65099045c" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1208164914386198529/l-4vc1Kb_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_63a46143c70147cd87c60ceb64850134.setContent(html_4bd008879d1549028596a1c65099045c);
        

        marker_fa0ccfed761f4115942abfcaf093e769.bindPopup(popup_63a46143c70147cd87c60ceb64850134)
        ;

        
    
    
            marker_fa0ccfed761f4115942abfcaf093e769.bindTooltip(
                `<div>
                     United States Space Force
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_465f65d49d344410949679d850eb1c95 = L.marker(
                [37.7790262, -122.4199061],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_ab08510f25704c97b09e032bc2f806fa = L.popup({"maxWidth": "100%"});

        
            var html_507800910b7043b6bc310b3e3d70c54b = $(`<div id="html_507800910b7043b6bc310b3e3d70c54b" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/755006920314937344/PPQ8LKFs_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_ab08510f25704c97b09e032bc2f806fa.setContent(html_507800910b7043b6bc310b3e3d70c54b);
        

        marker_465f65d49d344410949679d850eb1c95.bindPopup(popup_ab08510f25704c97b09e032bc2f806fa)
        ;

        
    
    
            marker_465f65d49d344410949679d850eb1c95.bindTooltip(
                `<div>
                     Shivon Zilis
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d603a484ba846cfb89a169ebb72b9d1 = L.marker(
                [36.7014631, -118.7559974],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_e9f160eeb5fd449dbd7f3337b3ec2a44 = L.popup({"maxWidth": "100%"});

        
            var html_0733517bbeb847c497b44d65a5688d30 = $(`<div id="html_0733517bbeb847c497b44d65a5688d30" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/967139929888243712/kpeiQiVn_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_e9f160eeb5fd449dbd7f3337b3ec2a44.setContent(html_0733517bbeb847c497b44d65a5688d30);
        

        marker_8d603a484ba846cfb89a169ebb72b9d1.bindPopup(popup_e9f160eeb5fd449dbd7f3337b3ec2a44)
        ;

        
    
    
            marker_8d603a484ba846cfb89a169ebb72b9d1.bindTooltip(
                `<div>
                     TESLARATI
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f1e55120a0f4ea4a4ae27afc723f1a6 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_ff67fa4feb8447b08ffe506d4ca532c4 = L.popup({"maxWidth": "100%"});

        
            var html_9dcc88f418ce4cd9837923253deccba0 = $(`<div id="html_9dcc88f418ce4cd9837923253deccba0" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/74188698/NeilTysonOriginsA-Crop_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_ff67fa4feb8447b08ffe506d4ca532c4.setContent(html_9dcc88f418ce4cd9837923253deccba0);
        

        marker_7f1e55120a0f4ea4a4ae27afc723f1a6.bindPopup(popup_ff67fa4feb8447b08ffe506d4ca532c4)
        ;

        
    
    
            marker_7f1e55120a0f4ea4a4ae27afc723f1a6.bindTooltip(
                `<div>
                     Neil deGrasse Tyson
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b94d7b1069ea48379e7a0102c3a0f4dd = L.marker(
                [29.7589382, -95.3676974],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_01cec759323c492dbcf0faa7a4e0184c = L.popup({"maxWidth": "100%"});

        
            var html_e548711fdcc54c03a788a7880e81e4de = $(`<div id="html_e548711fdcc54c03a788a7880e81e4de" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/584065468337623040/eVtOSdRl_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_01cec759323c492dbcf0faa7a4e0184c.setContent(html_e548711fdcc54c03a788a7880e81e4de);
        

        marker_b94d7b1069ea48379e7a0102c3a0f4dd.bindPopup(popup_01cec759323c492dbcf0faa7a4e0184c)
        ;

        
    
    
            marker_b94d7b1069ea48379e7a0102c3a0f4dd.bindTooltip(
                `<div>
                     Eric Berger
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d18d5baa9197487297ffc1dba1dc7a87 = L.marker(
                [38.8051095, -77.0470229],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_fd806de2f13a44d79a4abfb58db9c397 = L.popup({"maxWidth": "100%"});

        
            var html_b50a4616dbdb40b7bafbc11eb7fc5162 = $(`<div id="html_b50a4616dbdb40b7bafbc11eb7fc5162" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/839998147631960064/0JO3j2ZR_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_fd806de2f13a44d79a4abfb58db9c397.setContent(html_b50a4616dbdb40b7bafbc11eb7fc5162);
        

        marker_d18d5baa9197487297ffc1dba1dc7a87.bindPopup(popup_fd806de2f13a44d79a4abfb58db9c397)
        ;

        
    
    
            marker_d18d5baa9197487297ffc1dba1dc7a87.bindTooltip(
                `<div>
                     Brian Berger
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b30abbca8704ea0927108924699fe18 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_f1dfd86ce8c040999bca2ab3317909e2 = L.popup({"maxWidth": "100%"});

        
            var html_e65c18f89ce940ccaab7d355ce68639b = $(`<div id="html_e65c18f89ce940ccaab7d355ce68639b" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/446388737363034112/M4JIEKTm_normal.jpeg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_f1dfd86ce8c040999bca2ab3317909e2.setContent(html_e65c18f89ce940ccaab7d355ce68639b);
        

        marker_9b30abbca8704ea0927108924699fe18.bindPopup(popup_f1dfd86ce8c040999bca2ab3317909e2)
        ;

        
    
    
            marker_9b30abbca8704ea0927108924699fe18.bindTooltip(
                `<div>
                     Cathie Wood
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ef6a9e9863fb49bda57251848d920bd7 = L.marker(
                [42.3750997, -71.1056157],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_82e2f417dc93436f93de0669f29c4b99 = L.popup({"maxWidth": "100%"});

        
            var html_5176fba1992741eba2db0bfe268d005c = $(`<div id="html_5176fba1992741eba2db0bfe268d005c" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/956331551435960322/OaqR8pAB_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_82e2f417dc93436f93de0669f29c4b99.setContent(html_5176fba1992741eba2db0bfe268d005c);
        

        marker_ef6a9e9863fb49bda57251848d920bd7.bindPopup(popup_82e2f417dc93436f93de0669f29c4b99)
        ;

        
    
    
            marker_ef6a9e9863fb49bda57251848d920bd7.bindTooltip(
                `<div>
                     Lex Fridman
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_746aafca0c9f43029fcf6136867e5f6c = L.marker(
                [14.5865972, 121.1374343],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_bc1aca1efbf74000ae826cfdc1ab703a = L.popup({"maxWidth": "100%"});

        
            var html_9ee9826f1e1c4f2a8029a64fc2bed2fa = $(`<div id="html_9ee9826f1e1c4f2a8029a64fc2bed2fa" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1118395719298187265/i96OM_I4_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_bc1aca1efbf74000ae826cfdc1ab703a.setContent(html_9ee9826f1e1c4f2a8029a64fc2bed2fa);
        

        marker_746aafca0c9f43029fcf6136867e5f6c.bindPopup(popup_bc1aca1efbf74000ae826cfdc1ab703a)
        ;

        
    
    
            marker_746aafca0c9f43029fcf6136867e5f6c.bindTooltip(
                `<div>
                     Mars
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0cc459ffcfe3458bb43b0061557e887d = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_f22507b50cdd4e9b8db4b5104a1c404a = L.popup({"maxWidth": "100%"});

        
            var html_a6660512f315444ebcdc395ab5fed6c3 = $(`<div id="html_a6660512f315444ebcdc395ab5fed6c3" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/875738805814341632/EWvgl4lq_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_f22507b50cdd4e9b8db4b5104a1c404a.setContent(html_a6660512f315444ebcdc395ab5fed6c3);
        

        marker_0cc459ffcfe3458bb43b0061557e887d.bindPopup(popup_f22507b50cdd4e9b8db4b5104a1c404a)
        ;

        
    
    
            marker_0cc459ffcfe3458bb43b0061557e887d.bindTooltip(
                `<div>
                     BBC Science News
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_92d94f854c5f419aa003d4b50792bc9c = L.marker(
                [53.5120412, -2.2434612],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_b458d33809c644e79c4ceaaf08f4f7d4 = L.popup({"maxWidth": "100%"});

        
            var html_67d6ff8533ea48148a9bfb517a517ba6 = $(`<div id="html_67d6ff8533ea48148a9bfb517a517ba6" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1187048653111865346/GazknbkC_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_b458d33809c644e79c4ceaaf08f4f7d4.setContent(html_67d6ff8533ea48148a9bfb517a517ba6);
        

        marker_92d94f854c5f419aa003d4b50792bc9c.bindPopup(popup_b458d33809c644e79c4ceaaf08f4f7d4)
        ;

        
    
    
            marker_92d94f854c5f419aa003d4b50792bc9c.bindTooltip(
                `<div>
                     Nature News & Comment
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2305becf0f7c4150844bea728189d5b5 = L.marker(
                [-33.88831175, 151.161167156791],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_3dc330e563e5410aaa92b6cc1f890bb9 = L.popup({"maxWidth": "100%"});

        
            var html_a825095aa2a344d586ea51b97587f831 = $(`<div id="html_a825095aa2a344d586ea51b97587f831" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/851774550631104514/FnBLKlzZ_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_3dc330e563e5410aaa92b6cc1f890bb9.setContent(html_a825095aa2a344d586ea51b97587f831);
        

        marker_2305becf0f7c4150844bea728189d5b5.bindPopup(popup_3dc330e563e5410aaa92b6cc1f890bb9)
        ;

        
    
    
            marker_2305becf0f7c4150844bea728189d5b5.bindTooltip(
                `<div>
                     The Stoic Emperor
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c88a74ae02446bdb7d8e4a403c428c7 = L.marker(
                [40.7750395, -90.8320824],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_c8588af2fb8a4677a9715fc766f58124 = L.popup({"maxWidth": "100%"});

        
            var html_24f3275403ea4855bc7a951b13a466cd = $(`<div id="html_24f3275403ea4855bc7a951b13a466cd" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1202273728404410368/xoYfBpRK_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_c8588af2fb8a4677a9715fc766f58124.setContent(html_24f3275403ea4855bc7a951b13a466cd);
        

        marker_7c88a74ae02446bdb7d8e4a403c428c7.bindPopup(popup_c8588af2fb8a4677a9715fc766f58124)
        ;

        
    
    
            marker_7c88a74ae02446bdb7d8e4a403c428c7.bindTooltip(
                `<div>
                     Dan Carlin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4ce31dc2a90e44aa8db7c5570676fbdc = L.marker(
                [34.093214, -118.3196124],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_9dafb0aef58d41ecbbdb2407a3b1f374 = L.popup({"maxWidth": "100%"});

        
            var html_2669f621b72947789c007e92c875c524 = $(`<div id="html_2669f621b72947789c007e92c875c524" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/809883338873839616/4PGFZ7OX_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_9dafb0aef58d41ecbbdb2407a3b1f374.setContent(html_2669f621b72947789c007e92c875c524);
        

        marker_4ce31dc2a90e44aa8db7c5570676fbdc.bindPopup(popup_9dafb0aef58d41ecbbdb2407a3b1f374)
        ;

        
    
    
            marker_4ce31dc2a90e44aa8db7c5570676fbdc.bindTooltip(
                `<div>
                     Jon Favreau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ac875825c4e410d9826733013f766cc = L.marker(
                [34.2331373, -102.4107493],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_950e05c7c25a4455b1a90790a370faae = L.popup({"maxWidth": "100%"});

        
            var html_c496c5d272e74f57ad3aa1dea441077a = $(`<div id="html_c496c5d272e74f57ad3aa1dea441077a" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1128922037001396225/f361nvzj_normal.png'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_950e05c7c25a4455b1a90790a370faae.setContent(html_c496c5d272e74f57ad3aa1dea441077a);
        

        marker_6ac875825c4e410d9826733013f766cc.bindPopup(popup_950e05c7c25a4455b1a90790a370faae)
        ;

        
    
    
            marker_6ac875825c4e410d9826733013f766cc.bindTooltip(
                `<div>
                     Quillette
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a25d94fb52ff433b8cac5d73a65f518c = L.marker(
                [43.7283874, -79.34914879325001],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_a7c442906922409fa852b78322ffa782 = L.popup({"maxWidth": "100%"});

        
            var html_2ea3ad1efd514852b3290d5f153ff699 = $(`<div id="html_2ea3ad1efd514852b3290d5f153ff699" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1053339335217549312/3AsJxV1h_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_a7c442906922409fa852b78322ffa782.setContent(html_2ea3ad1efd514852b3290d5f153ff699);
        

        marker_a25d94fb52ff433b8cac5d73a65f518c.bindPopup(popup_a7c442906922409fa852b78322ffa782)
        ;

        
    
    
            marker_a25d94fb52ff433b8cac5d73a65f518c.bindTooltip(
                `<div>
                     National Geographic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc779de510054da78b7da2a9c1dfa6dc = L.marker(
                [37.4519671, -122.1779927],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_91a2bf98862349179635088d31ff1256 = L.popup({"maxWidth": "100%"});

        
            var html_1152f9b052974905870e2289bfa1078c = $(`<div id="html_1152f9b052974905870e2289bfa1078c" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1135395894595997698/OL_cvrsc_normal.png'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_91a2bf98862349179635088d31ff1256.setContent(html_1152f9b052974905870e2289bfa1078c);
        

        marker_fc779de510054da78b7da2a9c1dfa6dc.bindPopup(popup_91a2bf98862349179635088d31ff1256)
        ;

        
    
    
            marker_fc779de510054da78b7da2a9c1dfa6dc.bindTooltip(
                `<div>
                     Marc Andreessen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d613a17edced4a68a8ea1204350442a5 = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_d9f23224e4464f46a6af7b47fb4dd5c3 = L.popup({"maxWidth": "100%"});

        
            var html_22f233b23b0c4036a05918aab8ec58a5 = $(`<div id="html_22f233b23b0c4036a05918aab8ec58a5" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1016231093425582080/lUZK3DzN_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_d9f23224e4464f46a6af7b47fb4dd5c3.setContent(html_22f233b23b0c4036a05918aab8ec58a5);
        

        marker_d613a17edced4a68a8ea1204350442a5.bindPopup(popup_d9f23224e4464f46a6af7b47fb4dd5c3)
        ;

        
    
    
            marker_d613a17edced4a68a8ea1204350442a5.bindTooltip(
                `<div>
                     BBC Comedy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c85416f38134a078e8a6dc00869e227 = L.marker(
                [42.3602534, -71.0582912],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_ec248cedd3324918878dad0717700ca5 = L.popup({"maxWidth": "100%"});

        
            var html_0031cc6c8c8b441ab93c357430bbb376 = $(`<div id="html_0031cc6c8c8b441ab93c357430bbb376" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1265207755/tiger_beat_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_ec248cedd3324918878dad0717700ca5.setContent(html_0031cc6c8c8b441ab93c357430bbb376);
        

        marker_4c85416f38134a078e8a6dc00869e227.bindPopup(popup_ec248cedd3324918878dad0717700ca5)
        ;

        
    
    
            marker_4c85416f38134a078e8a6dc00869e227.bindTooltip(
                `<div>
                     Ken Levine
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_655d4effa4c34f59888ffb4d71bdc2a9 = L.marker(
                [39.9527237, -75.1635262],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_2bea1e6f7eda4d35bd653ec9cbd01183 = L.popup({"maxWidth": "100%"});

        
            var html_8336ed2e9bd5405eb151ef2b20cf7d47 = $(`<div id="html_8336ed2e9bd5405eb151ef2b20cf7d47" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1210235016132861952/hADg-qa5_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_2bea1e6f7eda4d35bd653ec9cbd01183.setContent(html_8336ed2e9bd5405eb151ef2b20cf7d47);
        

        marker_655d4effa4c34f59888ffb4d71bdc2a9.bindPopup(popup_2bea1e6f7eda4d35bd653ec9cbd01183)
        ;

        
    
    
            marker_655d4effa4c34f59888ffb4d71bdc2a9.bindTooltip(
                `<div>
                     Niche Gamer
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fbfb3a16438742a5ba38c96cb9c9192d = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_b8b47deaece5425386b4f4d31dbc104f = L.popup({"maxWidth": "100%"});

        
            var html_0b828054a59e42e4b7eee4b2aeead3c3 = $(`<div id="html_0b828054a59e42e4b7eee4b2aeead3c3" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1160313034968977408/lRu2mmXv_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_b8b47deaece5425386b4f4d31dbc104f.setContent(html_0b828054a59e42e4b7eee4b2aeead3c3);
        

        marker_fbfb3a16438742a5ba38c96cb9c9192d.bindPopup(popup_b8b47deaece5425386b4f4d31dbc104f)
        ;

        
    
    
            marker_fbfb3a16438742a5ba38c96cb9c9192d.bindTooltip(
                `<div>
                     Maye Musk
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb95e75b9e6d460394a78bda87e93a37 = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_73e7d3f9beb44efbabb6b3b1c2be9028 = L.popup({"maxWidth": "100%"});

        
            var html_6c7b4c3ba9e642b4a404b9da990e9312 = $(`<div id="html_6c7b4c3ba9e642b4a404b9da990e9312" style="width: 100.0%; height: 100.0%;"><img src='http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_73e7d3f9beb44efbabb6b3b1c2be9028.setContent(html_6c7b4c3ba9e642b4a404b9da990e9312);
        

        marker_eb95e75b9e6d460394a78bda87e93a37.bindPopup(popup_73e7d3f9beb44efbabb6b3b1c2be9028)
        ;

        
    
    
            marker_eb95e75b9e6d460394a78bda87e93a37.bindTooltip(
                `<div>
                     Lisa Joy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8bca59e87f4a435bbfb3e9035d778694 = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_536282f4258d489a95e02047b289f57a = L.popup({"maxWidth": "100%"});

        
            var html_db27f1e8ab7d44479e96df967620c02a = $(`<div id="html_db27f1e8ab7d44479e96df967620c02a" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1147788414579859458/9IULx885_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_536282f4258d489a95e02047b289f57a.setContent(html_db27f1e8ab7d44479e96df967620c02a);
        

        marker_8bca59e87f4a435bbfb3e9035d778694.bindPopup(popup_536282f4258d489a95e02047b289f57a)
        ;

        
    
    
            marker_8bca59e87f4a435bbfb3e9035d778694.bindTooltip(
                `<div>
                     The Royal Society
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_22dc8ecc9def4ef082fc9281c1800efc = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_5a3192b639e14433be2864dc819ed5a6 = L.popup({"maxWidth": "100%"});

        
            var html_9004f7052e9e48daaa2cb40ef89c4678 = $(`<div id="html_9004f7052e9e48daaa2cb40ef89c4678" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1150716997254209536/M7gkjsv5_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_5a3192b639e14433be2864dc819ed5a6.setContent(html_9004f7052e9e48daaa2cb40ef89c4678);
        

        marker_22dc8ecc9def4ef082fc9281c1800efc.bindPopup(popup_5a3192b639e14433be2864dc819ed5a6)
        ;

        
    
    
            marker_22dc8ecc9def4ef082fc9281c1800efc.bindTooltip(
                `<div>
                     BBC Breaking News
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a664ed4c30da4bc9bf09f7fdcbfef788 = L.marker(
                [47.6038321, -122.3300624],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_77402f9dc6784c5a94c10e1912fa6b4f = L.popup({"maxWidth": "100%"});

        
            var html_b6555b844c7044c39414822393c2fd12 = $(`<div id="html_b6555b844c7044c39414822393c2fd12" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/454998478880403457/BjKnFxtf_normal.png'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_77402f9dc6784c5a94c10e1912fa6b4f.setContent(html_b6555b844c7044c39414822393c2fd12);
        

        marker_a664ed4c30da4bc9bf09f7fdcbfef788.bindPopup(popup_77402f9dc6784c5a94c10e1912fa6b4f)
        ;

        
    
    
            marker_a664ed4c30da4bc9bf09f7fdcbfef788.bindTooltip(
                `<div>
                     GeekWire
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a132580236694a33ace400edfe927d3c = L.marker(
                [36.7014631, -118.7559974],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_55f9cbe885744c68bc9eae87a152bd72 = L.popup({"maxWidth": "100%"});

        
            var html_a06f5dd823b546bc8919a2b1083023c5 = $(`<div id="html_a06f5dd823b546bc8919a2b1083023c5" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/378800000507169960/59c6921cd907190761e92b11dcad7ab9_normal.jpeg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_55f9cbe885744c68bc9eae87a152bd72.setContent(html_a06f5dd823b546bc8919a2b1083023c5);
        

        marker_a132580236694a33ace400edfe927d3c.bindPopup(popup_55f9cbe885744c68bc9eae87a152bd72)
        ;

        
    
    
            marker_a132580236694a33ace400edfe927d3c.bindTooltip(
                `<div>
                     George Zachary
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_81ae481199434c4c9ba3f8fad0af8965 = L.marker(
                [36.5781394, -79.35764141408603],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_44f304618c4a4731a880e32369c813e6 = L.popup({"maxWidth": "100%"});

        
            var html_ddd2a36ea89241c0b31d028619620ab6 = $(`<div id="html_ddd2a36ea89241c0b31d028619620ab6" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1230494215500488706/G_Gm0GQS_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_44f304618c4a4731a880e32369c813e6.setContent(html_ddd2a36ea89241c0b31d028619620ab6);
        

        marker_81ae481199434c4c9ba3f8fad0af8965.bindPopup(popup_44f304618c4a4731a880e32369c813e6)
        ;

        
    
    
            marker_81ae481199434c4c9ba3f8fad0af8965.bindTooltip(
                `<div>
                     SwiftOnSecurity
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9db2c389b03445a4b2cc6e4bcfb2a27c = L.marker(
                [53.5120412, -2.2434612],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_1a79d923f8554008848396a777d65669 = L.popup({"maxWidth": "100%"});

        
            var html_849ea6d6549c4717b81c00d4f793272a = $(`<div id="html_849ea6d6549c4717b81c00d4f793272a" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/960860144329469953/Tc-GOIGJ_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_1a79d923f8554008848396a777d65669.setContent(html_849ea6d6549c4717b81c00d4f793272a);
        

        marker_9db2c389b03445a4b2cc6e4bcfb2a27c.bindPopup(popup_1a79d923f8554008848396a777d65669)
        ;

        
    
    
            marker_9db2c389b03445a4b2cc6e4bcfb2a27c.bindTooltip(
                `<div>
                     New Scientist
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a95d3439a2654e47b58371e681ecdeab = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_aa98500d97fd403898e57480b9d7a950 = L.popup({"maxWidth": "100%"});

        
            var html_02a02e1d11364d9b95b2d6cd77644319 = $(`<div id="html_02a02e1d11364d9b95b2d6cd77644319" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1220438277796352001/jhrzYrf5_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_aa98500d97fd403898e57480b9d7a950.setContent(html_02a02e1d11364d9b95b2d6cd77644319);
        

        marker_a95d3439a2654e47b58371e681ecdeab.bindPopup(popup_aa98500d97fd403898e57480b9d7a950)
        ;

        
    
    
            marker_a95d3439a2654e47b58371e681ecdeab.bindTooltip(
                `<div>
                     CGP Grey 🐝
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_60e5497d09104e329fbebf15e8e7bd23 = L.marker(
                [34.1476452, -118.1444779],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_d85cee719e4c4cbfa0d9ed52fb24656e = L.popup({"maxWidth": "100%"});

        
            var html_43ca04eab8f54296b03b3604feca3a71 = $(`<div id="html_43ca04eab8f54296b03b3604feca3a71" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1033103993709322240/m7jGqR6X_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_d85cee719e4c4cbfa0d9ed52fb24656e.setContent(html_43ca04eab8f54296b03b3604feca3a71);
        

        marker_60e5497d09104e329fbebf15e8e7bd23.bindPopup(popup_d85cee719e4c4cbfa0d9ed52fb24656e)
        ;

        
    
    
            marker_60e5497d09104e329fbebf15e8e7bd23.bindTooltip(
                `<div>
                     NASA JPL
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c77c4e6d14684d2a82f12c22193bddd7 = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_bbc9afe1dd3c47a4a795c271d1f039ce = L.popup({"maxWidth": "100%"});

        
            var html_586083835b064a8fa6126fd14e631e70 = $(`<div id="html_586083835b064a8fa6126fd14e631e70" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1039775185862242304/-NLaPOqV_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_bbc9afe1dd3c47a4a795c271d1f039ce.setContent(html_586083835b064a8fa6126fd14e631e70);
        

        marker_c77c4e6d14684d2a82f12c22193bddd7.bindPopup(popup_bbc9afe1dd3c47a4a795c271d1f039ce)
        ;

        
    
    
            marker_c77c4e6d14684d2a82f12c22193bddd7.bindTooltip(
                `<div>
                     The Boring Company
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_251ec87cf1434c129a5b0b0925a60a7d = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_fd9c0ea7e7c541f3a3ca53842b37e9cd = L.popup({"maxWidth": "100%"});

        
            var html_59f186eae17c4f4db20d9388de74a79e = $(`<div id="html_59f186eae17c4f4db20d9388de74a79e" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1230870951262187520/a6KH4FWn_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_fd9c0ea7e7c541f3a3ca53842b37e9cd.setContent(html_59f186eae17c4f4db20d9388de74a79e);
        

        marker_251ec87cf1434c129a5b0b0925a60a7d.bindPopup(popup_fd9c0ea7e7c541f3a3ca53842b37e9cd)
        ;

        
    
    
            marker_251ec87cf1434c129a5b0b0925a60a7d.bindTooltip(
                `<div>
                     Kimbal Musk
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_17bfdc30bcf74f188389e2aaff42c757 = L.marker(
                [45.9683338, -61.4901355],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_21c6acfb39034f34a9f8c61a73170480 = L.popup({"maxWidth": "100%"});

        
            var html_a5ad4e2411a14183b53d9913b52083d1 = $(`<div id="html_a5ad4e2411a14183b53d9913b52083d1" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1088938864691970048/wzhp5jq2_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_21c6acfb39034f34a9f8c61a73170480.setContent(html_a5ad4e2411a14183b53d9913b52083d1);
        

        marker_17bfdc30bcf74f188389e2aaff42c757.bindPopup(popup_21c6acfb39034f34a9f8c61a73170480)
        ;

        
    
    
            marker_17bfdc30bcf74f188389e2aaff42c757.bindTooltip(
                `<div>
                     Hyperloop
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dea0b4dececd44fe8a9a573bec450336 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_f068ff678cba4d1a9ba140d8a06832f7 = L.popup({"maxWidth": "100%"});

        
            var html_9522afd92fe4498ebd05b23c48384557 = $(`<div id="html_9522afd92fe4498ebd05b23c48384557" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1197574569680392192/ZTfk5gZ3_normal.png'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_f068ff678cba4d1a9ba140d8a06832f7.setContent(html_9522afd92fe4498ebd05b23c48384557);
        

        marker_dea0b4dececd44fe8a9a573bec450336.bindPopup(popup_f068ff678cba4d1a9ba140d8a06832f7)
        ;

        
    
    
            marker_dea0b4dececd44fe8a9a573bec450336.bindTooltip(
                `<div>
                     Scientific American
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c8e8727cadc04078a67bf5cdd3979bcd = L.marker(
                [54.7023545, -3.2765753],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_b3d1b838a6dd435daaa9274207713402 = L.popup({"maxWidth": "100%"});

        
            var html_cc40fec0410748a9b56a0bafc15d70f3 = $(`<div id="html_cc40fec0410748a9b56a0bafc15d70f3" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/962008179155484672/MIoPrV0c_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_b3d1b838a6dd435daaa9274207713402.setContent(html_cc40fec0410748a9b56a0bafc15d70f3);
        

        marker_c8e8727cadc04078a67bf5cdd3979bcd.bindPopup(popup_b3d1b838a6dd435daaa9274207713402)
        ;

        
    
    
            marker_c8e8727cadc04078a67bf5cdd3979bcd.bindTooltip(
                `<div>
                     DEVELOP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_36466dc8a2fa41c2b6dfa9853b44d09c = L.marker(
                [19.37218875, -72.33465445105234],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_8708789793254d3cbc47ac31a4716d33 = L.popup({"maxWidth": "100%"});

        
            var html_2d4dc2ebabaf441a8f6009bea279600d = $(`<div id="html_2d4dc2ebabaf441a8f6009bea279600d" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/723571201449295877/-KeG1OdO_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_8708789793254d3cbc47ac31a4716d33.setContent(html_2d4dc2ebabaf441a8f6009bea279600d);
        

        marker_36466dc8a2fa41c2b6dfa9853b44d09c.bindPopup(popup_8708789793254d3cbc47ac31a4716d33)
        ;

        
    
    
            marker_36466dc8a2fa41c2b6dfa9853b44d09c.bindTooltip(
                `<div>
                     The Hacker News
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88a0138372c54b9aaea5d94217fe8f8e = L.marker(
                [46.9599823, 22.0541733],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_f0873fedbeb947c9b1ca7b13ff2fbf86 = L.popup({"maxWidth": "100%"});

        
            var html_cb830604129147ba829ce11b7ae54daf = $(`<div id="html_cb830604129147ba829ce11b7ae54daf" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1093601394022600704/J6QnZxnP_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_f0873fedbeb947c9b1ca7b13ff2fbf86.setContent(html_cb830604129147ba829ce11b7ae54daf);
        

        marker_88a0138372c54b9aaea5d94217fe8f8e.bindPopup(popup_f0873fedbeb947c9b1ca7b13ff2fbf86)
        ;

        
    
    
            marker_88a0138372c54b9aaea5d94217fe8f8e.bindTooltip(
                `<div>
                     Atlas Obscura
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f7b38d6beca4c8bb2576991bb65312c = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_bdf31f0cfd3641ed8d273ba0acb40bf6 = L.popup({"maxWidth": "100%"});

        
            var html_3b6d07c7f4944e338471277788a8894d = $(`<div id="html_3b6d07c7f4944e338471277788a8894d" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1191943129823399936/ZvfTRAlg_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_bdf31f0cfd3641ed8d273ba0acb40bf6.setContent(html_3b6d07c7f4944e338471277788a8894d);
        

        marker_7f7b38d6beca4c8bb2576991bb65312c.bindPopup(popup_bdf31f0cfd3641ed8d273ba0acb40bf6)
        ;

        
    
    
            marker_7f7b38d6beca4c8bb2576991bb65312c.bindTooltip(
                `<div>
                     Techmeme
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b362ca05abb143eca4f3ef77ef5c64b4 = L.marker(
                [54.7023545, -3.2765753],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_3f66ae13b3de446da231b9fc42b78f95 = L.popup({"maxWidth": "100%"});

        
            var html_93ab9718f3f8482090412673a9490aad = $(`<div id="html_93ab9718f3f8482090412673a9490aad" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/703637604181393409/iCflIKVK_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_3f66ae13b3de446da231b9fc42b78f95.setContent(html_93ab9718f3f8482090412673a9490aad);
        

        marker_b362ca05abb143eca4f3ef77ef5c64b4.bindPopup(popup_3f66ae13b3de446da231b9fc42b78f95)
        ;

        
    
    
            marker_b362ca05abb143eca4f3ef77ef5c64b4.bindTooltip(
                `<div>
                     Neuroskeptic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6df1db813b124fb0aeaa49f3b6d310b4 = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_a4377c12402247d69c12ca3b35abd46c = L.popup({"maxWidth": "100%"});

        
            var html_e2b674ed325b46a69200d2caa558f54f = $(`<div id="html_e2b674ed325b46a69200d2caa558f54f" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/734096765562048512/9GpgjowV_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_a4377c12402247d69c12ca3b35abd46c.setContent(html_e2b674ed325b46a69200d2caa558f54f);
        

        marker_6df1db813b124fb0aeaa49f3b6d310b4.bindPopup(popup_a4377c12402247d69c12ca3b35abd46c)
        ;

        
    
    
            marker_6df1db813b124fb0aeaa49f3b6d310b4.bindTooltip(
                `<div>
                     TeslaRoadTrip
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6adb61ad044442308cdb71f2a47c442c = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_1b740794cb3843a29864e821877f3460 = L.popup({"maxWidth": "100%"});

        
            var html_f712387c5d764104b4462dec7b2a5107 = $(`<div id="html_f712387c5d764104b4462dec7b2a5107" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1225137125319958532/gYLdxh9d_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_1b740794cb3843a29864e821877f3460.setContent(html_f712387c5d764104b4462dec7b2a5107);
        

        marker_6adb61ad044442308cdb71f2a47c442c.bindPopup(popup_1b740794cb3843a29864e821877f3460)
        ;

        
    
    
            marker_6adb61ad044442308cdb71f2a47c442c.bindTooltip(
                `<div>
                     The New York Review of Books
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90966ab938c24b83b8203957c74602ef = L.marker(
                [51.6878246, -114.2502063],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_7635e60446864d6ea678a6af4afca053 = L.popup({"maxWidth": "100%"});

        
            var html_94b4558ec506427bafc0a49b94876484 = $(`<div id="html_94b4558ec506427bafc0a49b94876484" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1021871312195612673/MlailSlw_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_7635e60446864d6ea678a6af4afca053.setContent(html_94b4558ec506427bafc0a49b94876484);
        

        marker_90966ab938c24b83b8203957c74602ef.bindPopup(popup_7635e60446864d6ea678a6af4afca053)
        ;

        
    
    
            marker_90966ab938c24b83b8203957c74602ef.bindTooltip(
                `<div>
                     Khan Academy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d9f1b8e872b47a1b6c078bc3bd385b0 = L.marker(
                [45.9683338, -61.4901355],
                {}
            ).addTo(map_3f41a9af15fa4f82bf0caf2759a0ffcc);
        
    
        var popup_80ef59d2ac2d4e32995348ee480b146d = L.popup({"maxWidth": "100%"});

        
            var html_a6835e1bfac44c6288d59f123a481d40 = $(`<div id="html_a6835e1bfac44c6288d59f123a481d40" style="width: 100.0%; height: 100.0%;"><img src='http://pbs.twimg.com/profile_images/1082744382585856001/rH_k3PtQ_normal.jpg'          alt='Avatar' style='height:20px; width:20px'></div>`)[0];
            popup_80ef59d2ac2d4e32995348ee480b146d.setContent(html_a6835e1bfac44c6288d59f123a481d40);
        

        marker_8d9f1b8e872b47a1b6c078bc3bd385b0.bindPopup(popup_80ef59d2ac2d4e32995348ee480b146d)
        ;

        
    
    
            marker_8d9f1b8e872b47a1b6c078bc3bd385b0.bindTooltip(
                `<div>
                     SpaceX
                 </div>`,
                {"sticky": true}
            );
        
</script>